@media (max-width: 768px) {
    .comincss {
        padding-bottom: 16%;
        letter-spacing: 10px;
        font-size: 12px;
    }

    .padding4 h2 {
        font-size: 30px;
    }

    .padding4 {
        padding-top: 17%;
    }
}
