//COMING SOON CSS START

.backimg {
    background: url("../img/lll-coming-soon.jpg") no-repeat 100% 100%;
    background-size: cover;
}

.colorwhite {
    color: #fff;
}

.comincss {
    padding-bottom: 4%;
    letter-spacing: 20px;
    font-size: 20px;
    font-weight: 600;
}

.padding4 {
    padding-top: 8%;

    h2 {
        font-size: 52px;
        font-weight: 700;
    }

    .pad40 {
        display: inline-block;
        padding: 40px 0 0;
    }

    .lll {
        font-size: 40px;
        padding-bottom: 60px;
    }

    .storieintro {
        margin-bottom: 15px;
        font-size: 17px;
        font-weight: 500;
    }

    .formsubmit {
        h4 {
            height: 0;
            color: #fff;
        }

        .form {
            margin-bottom: 5%;
        }

        p {
            height: 0;
            color: red;
            font-weight: 700;
        }
        margin: 1% 35%;

        .btn {
            margin-top: 9%;
            height: auto !important;
            background: transparent;
            border: 2px solid #ffffff;
            color: #fff;
            letter-spacing: -1px;
            font-weight: 700;
            padding: 11px 42px;
        }

        .btn:hover {
            color: #fff !important;
        }
    }

    .form-control {
        height: 40px !important;
        margin-bottom: 3% !important;
    }
}

.list0 {
    margin: 0 !important;
}
//COMING SOON CSS END
