.backimg {
  background: url("../img/lll-coming-soon.jpg") no-repeat 100% 100%;
  background-size: cover;
}
.colorwhite{color:#fff;}
.ltrspace{     padding-bottom: 5%;   letter-spacing: 17px;}
.padding4{    padding-top: 4%;}s
  body{background: url("../img/lll-coming-soon.jpg") no-repeat 100% 100%;}
