/*Start writing sass here*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";

/* Brand colors */
$brand-red: #ff0f0f;
$brand-blue: #0cceff;
$brand-green-neon: #2bc900;
$brand-pink: #f02b67;
$brand-green: #0fff3c;
$brand-yellow: #ffae00;
$brand-gray: #323232;
$brand-gray-lighter: #606060;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-primary: #1aa3eb !default;
$brand-success: #1aeb46 !default;
$brand-warning: #ebb21a !default;
$brand-danger: #eb2e1a !default;
$brand-info: #1ad0eb !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$body-bg: #fff !default;
$text-color: $gray !default;
$link-color: $gray !default;
$link-hover-color: $gray-base !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$menu-height: 65px !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
.brand-white {
  color: $body-bg;
}
.brand-red {
  color: $brand-red;
}
.brand-blue {
  color: $brand-blue;
}
.brand-green-neon {
  color: $brand-green-neon;
}
.brand-pink {
  color: $brand-pink;
}
.brand-green {
  color: $brand-green;
}
.brand-yellow {
  color: $brand-yellow;
}
.brand-gray {
  color: $brand-gray;
}
.brand-gray-lighter {
  color: $brand-gray-lighter;
}
.brand-red-bg {
  background-color: $brand-red;
}
.brand-blue-bg {
  background-color: $brand-blue;
}
.brand-green-neon-bg {
  background-color: $brand-green-neon;
}
.brand-pink-bg {
  background-color: $brand-pink;
}
.brand-green-bg {
  background-color: $brand-green;
}
.brand-yellow-bg {
  background-color: $brand-yellow;
}
.brand-gray-bg {
  background-color: $brand-gray;
}
.brand-gray-lighter-bg {
  background-color: $brand-gray-lighter;
}
.font-size-large {
  font-size: ceil(($font-size-base * 1.2));
}

body {

  //padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;

  //    .transition(all 1s ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
h1 {
  color: pink;
}

// Home
.goops {
  background-image: url(../img/goops.jpg);
}

.mobile-section {
  background-image: url(../img/mobile.jpg)
}

// Footer
footer {
  padding: 40px 0;
  text-align: center;

  a {
    color: $body-bg;
    &:hover {
      color: $gray-light;
    }
  }

  .footer-links {
    ul {
      margin: 40px 0px;
      padding: 20px 0;
      border-top: 1px solid $brand-gray-lighter;
      border-bottom: 1px solid $brand-gray-lighter;
    }
  }

  .footer-text {
    margin: 40px 0;
  }

  .social-links { ul { li {
    a {
      padding: 10px 13px;
      background: $brand-gray-lighter;
      border-radius: 50%;
    } } }
  }

}
