/*Start writing sass here*/

@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";

/* Brand colors */

$brand-red: #ff0f0f;
$brand-blue: #0cceff;
$brand-blue-darker: #218dfb;
$brand-green-neon: #2bc900;
$brand-pink: #f02b67;
$brand-green: #0fff3c;
$brand-yellow: #ffae00;
$brand-yellow-lust : #ffba00;
$brand-gray: #323232;
$brand-gray-lighter: #606060;
$brand-gray-lighter-2: #969696;
$brand-gray-darker: #232323;
$query-color: #e1542e;
$sex-color: #b026ff;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$body-bg: #fff !default;
$text-color: $gray !default;
$link-color: $gray !default;
$link-hover-color: $gray-base !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Dosis",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: "Dosis",
Georgia,
"Times New Roman",
Times,
serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$menu-height: 65px !default;
$space-100: 100px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: "lane.posh";
    src: url('../fonts/lane.posh.ttf');
}

.brand-white {
    color: $body-bg;
}

.brand-black {
    color: $gray-base;
}

.brand-red {
    color: $brand-red;
}

.brand-blue {
    color: $brand-blue;
}

.brand-green-neon {
    color: $brand-green-neon;
}

.brand-pink {
    color: $brand-pink;
}

.brand-green {
    color: $brand-green;
}

.brand-yellow {
    color: $brand-yellow;
}

.brand-gray {
    color: $brand-gray;
}

.brand-gray-lighter {
    color: $brand-gray-lighter;
}

.brand-gray-lighter-2 {
    color: $brand-gray-lighter-2;
}

.gray-base {
    color: $gray-base;
}

.gray-dark {
    color: $gray-dark;
}

.gray-lighter {
    color: $gray-lighter;
}

.gray-lighter-bg {
    background-color: $gray-lighter;
}

.brand-white-bg {
    background-color: $body-bg;
}

.brand-red-bg {
    background-color: $brand-red;
}

.brand-blue-bg {
    background-color: $brand-blue;
}

.brand-green-neon-bg {
    background-color: $brand-green-neon;
}

.brand-pink-bg {
    background-color: $brand-pink;
}

.brand-green-bg {
    background-color: $brand-green;
}

.brand-yellow-bg {
    background-color: $brand-yellow;
}

.brand-gray-bg {
    background-color: $brand-gray;
}

.brand-gray-lighter-2-bg {
    background-color: $brand-gray-lighter-2;
}

.brand-gray-lighter-bg {
    background-color: $brand-gray-lighter;
}

.brand-gray-darker-bg {
    background-color: $brand-gray-darker;
}

.query-btn {
    background-color: $query-color;
}

.sexpage-btn {
    background-color: $sex-color;
}
.goops-btn {
  background-color: $brand-blue-darker;
}
.pointer { cursor: pointer; }

.btn {
    height: 30px;
    font-family: "Roboto";
    font-weight: 300;
    @include transition(all 300ms ease);
    outline: 0 !important;
}

.btn-more {
    width: 100px;
}

.btn-null {
    font-style: italic;
    background-color: transparent;
    border: none;
    outline: 0 !important;
}

.btn-blue {
    @include button-variant(white,
    $brand-blue,
    $brand-blue);
}
.btn-dark-blue {
  @include button-variant(white, $brand-blue-darker, $brand-blue-darker);
}

.btn-green {
    @include button-variant(white,
    $brand-green-neon,
    $brand-green-neon);
}
.btn-yellow-lust {
  @include button-variant(white, $brand-yellow, $brand-yellow);
}

.btn-red {
    @include button-variant(white,
    $brand-red,
    $brand-red);
}

.btn-pink {
    @include button-variant(white,
    $brand-pink,
    $brand-pink);
}

.btn-gray {
    @include button-variant(white,
    $brand-gray,
    $brand-gray);
}

.border-blue:after {
    border-color: $brand-blue;
}

.border-red:after {
    border-color: $brand-red;
}

.border-green:after {
    border-color: $brand-green-neon;
}

.font-size-large {
    font-size: ceil(($font-size-base * 1.2));
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.max-width-height-100 {
    max-width: 100%;
    max-height: 100%;
}

.trasform-50 {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.clearfix {
    overflow: auto;
}

.social-icn {
    background: $brand-gray-lighter;
    color: white;
    border-radius: 50%;
}

.social-icn-2 {
    background: $brand-gray-lighter-2;
    color: white;
    border-radius: 50%;
}
.hov-love { color:$brand-pink;  }
.hov-lie { color: $brand-green; }
.hov-lust { color: $brand-yellow-lust; }

body {
    //padding-top: 70px;
}

.nopd {
    padding: 0 !important;
}

a {
    @include transition(all 300ms ease-in-out);
    &:hover {
        text-decoration: none;
        @include transition(all 300ms ease-in-out);
    }
    &:focus {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 auto;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    //    .transition(all 1s ease);
}

img.doneLoading {
    opacity: 1;
}

//lie-page-color
.put-me-lie {
    .title {
        color: $brand-green;
    }
    .borderme {
        border: 5px solid $brand-green !important;
    }
    .color-me {
        @extend.btn-green;
    }
    .border-me-hov {
        &:hover:after {
            border: 5px solid $brand-green;
        }
    }
    // .most-viewed { border: 5px solid $brand-green !important; }
}
// lust-page-color
.put-me-lust {
    .title {
        color: $brand-yellow-lust;
    }
    .borderme {
        border: 5px solid $brand-yellow-lust !important;
    }
    .color-me {
        @extend.btn-yellow-lust;
    }
    .border-me-hov {
        &:hover:after {
            border: 5px solid $brand-yellow-lust;
        }
    }
    // .most-viewed { border: 5px solid $brand-yellow !important; }
}
//confession-page
.put-me-confess {
    .color-me {
        @extend.btn-blue;
        &:hover {
            border: 1px solid #00acd8;
            background-color: #00acd8;
        }
    }
}

//queries-page
.put-me-query {
    .color-me {
        border: 1px solid #e1542e;
        @extend.query-btn;
        &:hover {
            border: 1px solid #c33008;
            background-color: #c33008;
        }
    }
}

//sexpert-page
.put-me-sexpert {
    .color-me {
        border: 1px solid #b026ff;
        @extend.sexpage-btn;
        &:hover {
            border: 1px solid #9702ec;
            background-color: #9702ec;
        }
    }
    .title {
      color: #323232;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 22px;
    }
}

// goops-page
.put-me-goops {
    .title {
        color: $brand-blue-darker;
    }
    .borderme {
        border: 5px solid $brand-blue-darker !important;
    }
    .color-me {
        @extend.btn-dark-blue;
    }
    .border-me-hov {
        &:hover:after {
            border: 5px solid $brand-blue-darker;
        }
    }
    .most-viewed { border: 5px solid $brand-blue-darker !important; }
}

ul {
    list-style: none;
}

nav li:hover .dropdown-menu {
    display: block;
}

.padding-right {
    padding-right: 50px;
}

.heading {
    .love-head {
        h2 {
            font-size: 170px;
            font-family: "lane.posh";
            font-weight: 500;
        }
    }
    .fontdo {
        h2 {
            font-family: $font-family-sans-serif;
        }
    }
}

.over-lap {
    padding: 25px;
    position: relative;
    top: 75px;
    z-index: 1;
}

.slide-me {
    .bg-1 {
        background-color: #1b1b1b;
    }
    .bg-2 {
        background-color: #242424;
    }
    .row-flex {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        .col-flex {
            cursor: pointer;
            -webkit-box-flex: 1;
            flex: 1;
            position: relative;
            &:hover .content-hover {
                opacity: 1;
                @include transition(all 300ms ease-in-out);
            }
        }
    }
    .slide-part {
        height: 300px;
        padding: 30px;
        position: relative;
        overflow: hidden;
        .content-holder {
            .content-1 {
              height: 245px;
              overflow: hidden;
                p {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            .content-2 {
                position: absolute;
                top: 0;
                p {
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    span {
                        display: block;
                    }
                }
            }
            .love-text-1 {
                width: 70%;
                top: 20%;
                left: 36%;
                @include transform(translate(-36%, -20%));
            }
            .love-text-2 {
                width: 75%;
                top: 80%;
                @include transform(translateY(-80%));
            }
            .lie-text-1 {
                width: 85%;
                top: 50%;
                @include transform(translateY(-50%));
            }
            .lie-text-2 {
                text-align: right;
                width: 80%;
                top: 15%;
                right: 40%;
                @include transform(translate(40%, -15%));
            }
            .lust-text-1 {
                width: 59%;
                top: 20%;
                left: 30%;
                @include transform(translate(-30%, -20%));
            }
            .lust-text-2 {
                @extend .love-text-2;
            }
        }
        .love-back {
            height: 300px;
            background: url(../img/love.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .lie-back {
            @extend .love-back;
            background: url(../img/lie.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .lust-back {
            @extend .love-back;
            background: url(../img/lust.jpg) no-repeat;
            background-size: 100% 100%;
        }
        .content-hover {
            padding: 30px;
            opacity: 0;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            @include transition(all 300ms ease-in-out);
            .fifty {
                p.quote {
                    font-size: 30px;
                    // @extend .brand-pink;
                    letter-spacing: 1px;
                    word-spacing: 6px;
                    span {
                        display: block;
                    }
                }
                .l3-date {
                    font-size: 12px;
                    letter-spacing: 2px;
                }
                button {
                    margin: 50px 0;
                }
            }
        }
    }
}

// Header
header {
    width: 100%;
    position: absolute;
    top: $space-100;
    .menu-icons {
        margin: 5px -2px -2px;
        padding: 0;
        height: 20px;
        img {
            @extend .max-width-height-100;
        }
    }
    .hamburger {
        width: 25px;
        height: 25px;
        display: inline-block;
        position: relative;
        z-index: 10;
        cursor: pointer;
        .icon-bar {
            width: 25px;
            height: 3px;
            margin: 3px 0;
            border-radius: 0;
            background-color: #fff;
            @include transition(all 400ms ease-in-out);
        }
        .icon-bar:nth-child(1) {
            position: absolute;
            top: 0;
        }
        .icon-bar:nth-child(2) {
            position: absolute;
            top: 7px;
        }
        .icon-bar:nth-child(3) {
            position: absolute;
            top: 14px;
        }
        .top-bar {
            @include transform(rotate(45deg));
            top: 7px !important;
        }
        .mid-bar {
            opacity: 0;
        }
        .down-bar {
            @include transform(rotate(-45deg));
            top: 7px !important;
        }
    }
    nav.menu {
        width: 100%;
        padding: 9% 0;
        position: absolute;
        left: 0;
        top: -100px;
        z-index: 9;
        background-color: rgba(0, 0, 0, .7);
        ul {
            width: 60%;
            padding: 0;
            margin: 0 auto;
            li {
                padding: 5px 0;
                a {
                    color: #fff;
                    font-size: 27px;
                    @include transition(all 400ms ease-in-out);
                    &:hover {
                        color: $brand-pink;
                    }
                }
            }
        }
    }
    .menu-links {
        display: inline-block;
        position: relative;
        z-index: 11;
    }
}

.menu-out {
    @include transition(all 400ms ease-in-out);
    @include transform(translateY(-600px));
}

.menu-in {
    @include transition(all 400ms ease-in-out);
    @include transform(translateY(0));
}

// Home
.slider > img {
    position: relative;
    @extend .width-100;
    border: 20px solid $brand-gray;
    top: $space-100 - 20px;
    z-index: 1;
}

.goops {
    height: 600px;
    padding-top: 180px;
    background-image: url(../img/goops.jpg);
    background-size: cover;
    background-position: left center;
    text-align: center;
    position: relative;
    top: -30px;
    z-index: auto;
}

.goops-text {
    width: 100%;
    height: $space-100 * 1.20;
    position: absolute;
    top: 70px;
    left: -45px;
    img {
        @extend .max-width-height-100;
    }
}

.img-hold {
    width: $space-100 * 1.4;
    height: 90px;
    margin: -10px 0 15px -40px;
    position: relative;
    img {
        padding: 7px 0;
        @extend .trasform-50;
        @extend .max-width-height-100;
        z-index: 999;
    }
}

.goops-detail {
    padding: 20px 45px 25px;
    margin: 0 0 5px;
    text-align: left;
    font-size: 16px;
    border-right: 2px solid $brand-blue-darker;
    p {
        margin: 0;
    }
}

.queries {
    margin-top: -100px;
    position: relative;
    .inner-queries {
        padding: 60px;
        h1 {
            margin-bottom: 20px;
            color: $gray-dark;
            text-align: left;
            display: inline-block;
            position: relative;
            font-size: 32px;
            font-weight: 300;
            padding-bottom: 15px;
            letter-spacing: 1px;
            &:after {
                content: "";
                border-bottom-width: 2px;
                position: absolute;
                border-bottom-style: solid;
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }
        .scroll-me {
            ::-webkit-scrollbar {
                width: 3px;
            }
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
            }
            ::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
        }
        .slider {
            height: $space-100 * 5;
            overflow: scroll;
            overflow-x: hidden;
            padding-right: 15px;
            margin-bottom: 40px;
            .elements,
            .elements-2 {
                margin-bottom: 15px;
                letter-spacing: 1px;
                h2 {
                    font-weight: 600;
                    font-style: italic;
                }
                p {
                    color: $brand-gray;
                    text-align: left;
                }
                .extra {
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
            .elements-2 {
                font-size: 14px;
                font-weight: 500;
            }
            .elements + .elements,
            .elements-2 + .elements-2 {
                padding-top: 10px;
                border-top: 1px solid $gray-light;
            }
        }
        .more-button {
            text-align: center;
        }
    }
}

.mobile-section {
    background-image: url(../img/mobile.jpg);
    .mobile-image {
        margin-top: $space-100;
        img {
            @extend .max-width-height-100;
        }
    }
    .mobile-text {
        margin-left: 10px;
        margin-top: 260px;
        h2 {
            margin-bottom: 30px;
            font-weight: 300;
            letter-spacing: 4.2px;
        }
        .store-image {
            width: 100%;
            height: 50px;
            img {
                @extend .max-width-height-100;
            }
        }
    }
}

// Love
.love-header {
    width: 100%;
    height: $space-100 * 3.5;
    background: url(../img/love-detail.png) no-repeat center;
    background-size: 100% 100%;
}

.love-main,
.love-detail-main {
    margin-top: -$space-100 / 2;
    padding: 50px 0 50px 50px;
    .post-elements {
        height: 130px;
        margin-bottom: 10px;
        .post-image {
            width: 175px;
            height: 100px;
            img {
                @extend .max-width-height-100;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%,-50%));
            }
        }
        .post-details {
            width: 100%;
            line-height: 14px;
            letter-spacing: 1px;
            font-family: "Roboto";
            h3 {
                margin: 4px 0;
                font-size: 20px;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap
            }
            p {
                font-size: 12px;
            }
            p + p {
                color: $brand-gray;
                height: 42px;
                overflow: hidden;
                margin: 10px 0 0 0;
                font-size: 13px;
            }
        }
    }
    .post-elements:last-child {
        height: 100%;
    }
    .most-viewed,
    .most-viewed-2 {
        padding: 40px 0;
        position: relative;
        left: 30px;
        text-align: center;
        border: 5px solid $gray-base;
        h1 {
            margin-left: -20px;
            font-size: 28px;
        }
        ul {
            padding: 0;
            li {
                margin-top: 40px;
                figure {
                    margin-left: -20px;
                    width: 290px;
                    .img-holder {
                        width: 175px;
                        max-height: 100px;
                        margin: 0 auto;
                        img {
                            max-width: 100%;
                            max-height: 100px;
                        }
                    }
                    figcaption {
                        padding: 0 25px;
                        margin: 5px 0 0 0;
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 16px;
                        font-family: $font-family-sans-serif;
                    }
                }
            }
        }
    }
    .most-viewed-2 {
        padding: 20px 0 30px;
        border-color: $brand-pink;
        h1 {
            margin: 0 0 -20px -20px;
        }
    }
    .bdgreen {
        border-color: $brand-green;
    }
    a.btn {
        line-height: 100%;
    }
}

.bdhov {
    cursor: pointer;
    position: relative;
    &:after {
        content: "";
        width: 150px;
        height: 110px;
        border: 5px solid transparent;
        position: absolute;
        top: -5px;
        left: 50%;
        @include transform(translateX(-50%));
        @include transition(all 300ms linear);
    }
    &:hover:after {
        border: 5px solid $brand-pink;
        @include transition(all 300ms linear);
    }
}

.greenhov {
    @extend.bdhov;
    &:hover:after {
        border: 5px solid $brand-green;
    }
}

// Love Detail
.share-links,
.share-links-2 {
    ul {
        li {
            padding: 0;
            margin-left: 4px;
            span {
                margin-right: 10px;
                letter-spacing: 1px;
            }
            a {
                width: 25px;
                height: 25px;
                display: inline-block;
                line-height: 25px;
                text-align: center;
                @extend .social-icn-2;
                @include transition(all 300ms ease-in-out);
                &:hover {
                    @include transition(all 300ms ease-in-out);
                }
            }
            .fb {
                &:hover {
                    background-color: #3b5998;
                }
            }
            .twi {
                &:hover {
                    background-color: #00aced;
                }
            }
            .insta {
                &:hover {
                    background-color: #125688;
                }
            }
            .gp {
                &:hover {
                    background-color: #dd4b39;
                }
            }
            .pin {
                &:hover {
                    background-color: #cb2027;
                }
            }
            .you {
                &:hover {
                    background-color: #bb0000;
                }
            }
            .env {
                &:hover {
                    background-color: #DB4437;
                }
            }
        }
    }
}

.love-detail-main {
    .blog-time {
        letter-spacing: 1px;
        font-weight: 500;
    }
    .shares {
        margin: 20px 0 0 12px;
        h2 {
            font-size: 36px;
        }
        p {
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
    .share-links,
    .share-links-2 {
        ul {
            li {
                padding: 0;
                margin-left: 4px;
                span {
                    margin-right: 10px;
                    letter-spacing: 1px;
                }
                a {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    line-height: 25px;
                    text-align: center;
                    @extend .social-icn-2;
                    @include transition(all 300ms ease-in-out);
                    &:hover {
                        @include transition(all 300ms ease-in-out);
                    }
                }
                .fb {
                    &:hover {
                        background-color: #3b5998;
                    }
                }
                .twi {
                    &:hover {
                        background-color: #00aced;
                    }
                }
                .insta {
                    &:hover {
                        background-color: #125688;
                    }
                }
                .gp {
                    &:hover {
                        background-color: #dd4b39;
                    }
                }
                .pin {
                    &:hover {
                        background-color: #cb2027;
                    }
                }
                .you {
                    &:hover {
                        background-color: #bb0000;
                    }
                }
                .env {
                    &:hover {
                        background-color: #DB4437;
                    }
                }
            }
        }
    }
    .share-social-links {
        margin-top: 0 !important;
        @extend.share-links;
    }
    .share-links {
        margin-top: 10px;
    }
    .love-blog-image {
        margin: 20px 0;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    .love-blog-detail {
        padding-bottom: $space-100 / 4;
        font-weight: 500;
        border-bottom: 2px solid $gray-base;
        p { margin: 0 0 10px; }
    }
    .other-links {
      margin: 40px 0;
        .share-links-2 {
            display: table;
            @extend .trasform-50;
        }
    }
    a {
        .i-left {
            margin-right: 5px;
        }
        .i-right {
            margin-left: 5px;
        }
    }
}

// Footer
footer {
    padding: 30px 0;
    text-align: center;
    a {
        color: $body-bg;
        &:hover {
            color: $brand-pink;
        }
        &:focus {
          color: $brand-pink;
        }
    }
    .footer-menus,
    .footer-links {
        li {
            margin: 0 15px;
            letter-spacing: 1px;
        }
        li:last-child {
            margin: 0;
        }
    }
    .footer-links {
        ul {
            margin: 40px 0;
            padding: 15px 0;
            border-top: 1px solid $brand-gray-lighter;
            border-bottom: 1px solid $brand-gray-lighter;
            text-align: center;
        }
    }
    .footer-text {
        margin: 20px 0 3px;
        text-align: center;
        font-family: "Roboto";
        font-size: 12px;
        ul {
            margin: 0;
        }
        p.copy {
            margin-right: 18px;
            letter-spacing: 1px;
        }
    }
    .social-links {
        ul {
            li {
                a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    font-size: 20px;
                    @extend .social-icn;
                    @include transition(all 400ms ease-in-out);
                    &:hover {
                        color: #fff;
                        @include transition(all 400ms ease-in-out);
                    }
                }
                .fb {
                    &:hover {
                        background-color: #3b5998;
                    }
                }
                .twi {
                    &:hover {
                        background-color: #00aced;
                    }
                }
                .insta {
                    &:hover {
                        background-color: #125688;
                    }
                }
                .gp {
                    &:hover {
                        background-color: #dd4b39;
                    }
                }
                .pin {
                    &:hover {
                        background-color: #cb2027;
                    }
                }
                .you {
                    &:hover {
                        background-color: #bb0000;
                    }
                }
            }
        }
    }
    .footer-links {
        .subscribe {
            margin: 25px 0;
            padding: 15px 0;
            border-top: 1px solid $brand-gray-lighter;
            border-bottom: 1px solid $brand-gray-lighter;
            line-height: 34px;
        }
        .form-group {
            margin: 0;
            label {
                margin: 0;
                font-size: 17px;
                text-align: center;
            }
            input {
                color: #fff;
                border-color: $brand-gray-lighter;
                background-color: $brand-gray-lighter;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
            .sub {
                height: 34px;
                vertical-align: top;
                &:hover {
                    color: #fff;
                    background-color: $brand-gray-lighter-2;
                }
            }
        }
    }
}

.ting {
    &:hover {
        opacity: .7;
        color: #fff;
    }
}

.aboutus-back {
    background: url('../img/aboutus.png') no-repeat;
    background-size: 100% 100%;
    @extend.love-header;
}

.abt {
    background-color: #fff;
    margin-top: -50px;
    padding: 50px;
    letter-spacing: 1px;
    word-spacing: 1px;
    .abt-txt {
        width: 74%;
        margin: 0 0 20px 0;
        color: $brand-gray;
        position: relative;
        font-size: 20px;
        line-height: 25px;
        &:after {
            content: url('../img/invert-comma.png');
            position: absolute;
            top: -10px;
            left: -30px;
        }
    }
    p {
        margin: 20px 0;
    }
}

.lie-header {
    background: url('../img/lie-main.png');
    background-size: 100% 100%;
    position: relative;
    @extend.love-header;
}

.heading {
    position: relative;
}

.text-inside {
    position: absolute;
    top: 30%;
    left: 30%;
    @include transform(translate(-30%,
    -30%));
    h2 {
        color: #fff;
        font-size: 200px;
        font-weight: 600;
        font-family: initial;
    }
}

.content-main {
    min-height: 350px;
    padding: 50px 0 50px 50px;
    margin-top: -50px;
    background-color: #fff;
}

.content-right {
    position: relative;
    .secret {
        width: 100%;
        padding: 25px;
        border: 5px solid #000;
        position: absolute;
        left: 25px;
        h5 {
            font-size: 35px;
            text-transform: uppercase;
            word-spacing: 5px;
            span {
                display: block;
            }
        }
        p {
            margin: 15px 0;
            font-size: 15px;
            line-height: 100%;
        }
        button {
            padding: 6px 82px;
            color: #fff;
            font-size: 16px;
            line-height: 100%;
        }
    }
}

.blog-content {
    border-bottom: 2px solid #e0e0e0;
    margin: 20px 0;
    h4 {
        font-size: 40px;
        font-style: italic;
    }
    .dark {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 22px;
    }
    p {
        margin: 20px 0;
        letter-spacing: 1px;
    }
    .ls {
        letter-spacing: 1px;
        word-spacing: 4px;
    }
}

.back-img {
    .text-inside {
        @extend.trasform-50;
        h2 {
            color: #fff;
            font-size: 125px;
            font-weight: 300;
            letter-spacing: 17px;
            font-family: $font-family-serif;
            text-transform: uppercase;
        }
    }
}

.queries-pg {
    .text-inside {
        h2 {
            font-size: 100px;
            letter-spacing: 6px;
        }
    }
}

.black {
    background-color: #000;
}

.min500 {
    min-height: 500px;
}

@import 'mobile.scss';
