@media (max-width:1200px) {
    .slide-me {
        .slide-part {
            height: 250px;
            .content-holder {
                .content-1 {
                    p {
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
                .content-2 {
                    p {
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width:900px) {
    .slide-me {
        .slide-part {
            height: 220px;
            .content-holder {
                .content-1 {
                    p {
                        font-size: 9px;
                        line-height: 13px;
                    }
                }
                .content-2 {
                    p {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width:768) {
    .slide-me {
        .row-flex {
            display: block;
        }
        .slide-part {
            .content-holder {
                .content-1 {
                    p {
                        font-size: 9px;
                        line-height: 13px;
                    }
                }
                .content-2 {
                    p {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}