<div class="backimg">
    <div class="container text-center colorwhite padding4">
        <h3 class="comincss">COMING SOON</h3>
        <h2>READY TO UNCOVER THE</h2>
        <h2>SINS OF A STRANGER?</h2>
        <div class="pad40 menu-links" ui-sref="home" href="#/home">
            <ul class="list-inline list0">
                <li>
                    <a href="">
                        <div class="menu-icons">
                            <img alt="" src="img/menu/love.png" class="imgsize img-responsive">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu-icons">
                            <img alt="" src="img/menu/lie.png" class="imgsize img-responsive">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu-icons">
                            <img alt="" src="img/menu/lust.png" class="imgsize img-responsive">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <h3 class="lll">Love Lie Lust</h3>
        <p class="storieintro">A curation of true stories, that will leave you wondering;<br>is Love over-rated, lust under-rated and lie universal!</p>
        <div class="text-center formsubmit">
            <form name="myForm" class="form">
                <input type="text" class="form-control" placeholder="Email Address" name="email" ng-modal="email.myForm" required>
                <p ng-show="myForm.email.$error.required && myForm.email.$dirty">Email is required</p>
                <button type="submit" class="btn">I AM IN</button>
            </form>
            <div>
                <h4>Thankyou for Submission</h4>
            </div>
        </div>
    </div>
</div>
