
<div class="bodyimg">
<div class="jumbotron backimg">
  <div class="container text-center colorwhite padding4">
    <h3 class="ltrspace">COMING SOON</h3>
    <h1>READY TO UNCOVER THE</h1>
    <h1>SINS OF A STRANGER?</h1>
    <div class="menu-links" ui-sref="home" href="#/home">
          <ul class="list-inline">
            <li>
              <a href="">
                <div class="menu-icons">
                  <img alt="" src="img/menu/love.png" class="doneLoading">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="menu-icons">
                  <img alt="" src="img/menu/lie.png" class="doneLoading">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="menu-icons">
                  <img alt="" src="img/menu/lust.png" class="doneLoading">
                </div>
              </a>
            </li>
          </ul>
        </div>
        <h2>Love Lie Lust        </h2>
    <p>A curation of true stories, that will leave you wondering;<br>is Love over-rated, lust under-rated and lie universal!</p>
    <input type="text" class="form-control" >
      <button class="form-control" >I AM IN</button>
  </div>
</div>
</div>
