<section auto-heightfixed class="backimg">
    <div class="container text-center colorwhite padding4">
        <h3 class="comincss">COMING SOON</h3>
        <h2>READY TO UNCOVER THE</h2>
        <h2>SINS OF A STRANGER?</h2>
        <div class="pad40 menu-links" ui-sref="home" href="">
            <ul class="list-inline list0">
                <li>
                    <a href="">
                        <div class="menu-icons">
                            <img alt="" src="img/menu/love.png" class=" img-responsive">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu-icons">
                            <img alt="" src="img/menu/lie.png" class=" img-responsive">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="menu-icons">
                            <img alt="" src="img/menu/lust.png" class=" img-responsive">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <h3 class="lll">Love Lie Lust</h3>
        <p class="storieintro">A curation of true stories, that will leave you wondering;<br>is Love over-rated, lust under-rated and lie universal!</p>
        <div class="text-center formsubmit">

            <form name="myForm" class="form" ng-hide="complete">
                <input ng-model="form.email" type="email" class="form-control" placeholder="Email Address" name="email" required>
                <p ng-show="myForm.email.$invalid && myForm.email.$touched">Email is required</p>
                <button class="btn" ng-disabled="myForm.$invalid" ng-click="submitForm(form.email);">I AM IN</button>
            </form>
            <div ng-show="complete">
                <h4 class="brand-white">Thankyou for Submission</h4>
            </div>
        </div>
    </div>
</section>
