<section class="brand-gray-bg"`>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="content-main min500">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-content" ng-repeat="blog in confessionblog">
                                <h4 class="blog-head brand-blue">{{blog.head}}</h4>
                               <a href="#/confessiondetail"> <p class="brand-gray dark">{{blog.content}}</p></a>
                                <p class="ls">By Anonymous | 1 Day ago</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content-right">
                                <div class="secret brand-gray">
                                    <h5><span>Confess</span> your secrets</h5>
                                    <textarea class="form-control resize Robotor" rows="5" placeholder="Enter Your Depots Thoughts"></textarea>
                                    <div class="text-center">
                                        <button type="button" class="btn color-me btn-blue">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
