<section class="brand-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="over-lap brand-gray-bg">
                    <div class="template slider" ng-include="template.slider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="goops">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="inner-goops">
                            <div class="col-md-6">
                                <div class="goops-text">
                                    <img alt="" class="goopswidht" src="img/goops-text.png" />
                                    <div class="more-buttongoops">
                                        <!-- <a ui-sref="goops">
                                            <button class="btn btn-black btn-more" type="button">View More</button>
                                        </a> -->
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                              <div  infinite-scroll='loadMore()' infinite-scroll-distance='3' class="overflow">
                                <div class="row" ng-repeat="goops in article" >
                                <!-- <div class="row" ng-repeat="goops in allCategory[7]" > -->
                                  <!-- ng-if="$index <3" -->
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="img-hold">
                                            <a ui-sref="goops"><img alt="" ng-src={{goops.image|serverimage}} class="goops-img" src="img/post1.jpg" /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div class="goops-detail brand-gray-darker-bg gray-lighter">
                                            <p ng-bind="goops.title" class="pointer" ui-sref="goops">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit lorem
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="queries">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="inner-queries gray-lighter-bg">
                        <div class="row">
                            <div class="col-md-4 scroll-me">
                                <h1 class="border-blue">CONFESSIONS</h1>
                                <div class="slider">
                                    <div class="elements" ng-repeat="article in allCategory[4]">
                                        <!-- <h2 class="brand-blue">#51</h2> -->
                                        <p>{{blog.title}}
                                        </p>
                                        <div class="extra brand-gray-lighter-2">
                                            <button ui-sref="confessions" class="pull-right btn-null">READ MORE</button> By {{allCategory[4].author}} | {{allCategory[4].timestamp|date}}</div>
                                    </div>
                                </div>
                                <div class="more-button">
                                    <a ui-sref="confessions">
                                        <button class="btn btn-blue btn-more" type="button">View More</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 scroll-me">
                                <h1 class="border-green">ASK THE SEXPERT</h1>
                                <div class="slider">
                                    <div class="elements-2 gray-base" ng-repeat="article in allCategory[5]">
                                        <p ng-bind-html="article.title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <div class="extra brand-gray-lighter-2">
                                            <button ui-sref="sexpert" class="pull-right btn-null">READ MORE</button> By {{allCategory[5].author}} | {{allCategory[5].timestamp|date}}</div>
                                    </div>
                                    <!-- <div class="elements-2 gray-base">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra brand-gray-lighter-2">
                      <button class="pull-right btn-null">READ MORE</button>
                      By Anonymous | 1 day ago</div>
                  </div> -->
                                </div>
                                <div class="more-button">
                                    <a ui-sref="sexpert">
                                        <button class="btn btn-green btn-more" type="button">View More</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 scroll-me">
                                <h1 class="border-red">LOVE QUERIES</h1>
                                <div class="slider">
                                    <div class="elements-2 gray-base" ng-repeat="article in allCategory[6]">
                                        <p ng-bind-html="article.title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <div class="extra brand-gray-lighter-2">
                                            <button class="pull-right btn-null" ui-sref="queries">READ MORE</button> By {{allCategory[6].author}} | {{allCategory[6].timestamp|date}}</div>
                                    </div>
                                    <!-- <div class="elements-2 gray-base">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra brand-gray-lighter-2">
                      <button class="pull-right btn-null">READ MORE</button>
                      By Anonymous | 1 day ago</div>
                  </div> -->
                                </div>
                                <div class="more-button">
                                    <a ui-sref="queries">
                                        <button class="btn btn-red btn-more" type="button">View More</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="mobile-section hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="mobile-image">
                <img alt="" src="img/mobile-phone.png"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="mobile-text">
                <h2 class="brand-white">Download The LLL App</h2>
                <ul class="list-inline">
                  <li>
                    <div class="store-image">
                      <img alt="" src="img/play-store.png"/>
                    </div>
                  </li>
                  <li>
                    <div class="store-image">
                      <img alt="" src="img/apple-store.png"/>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    </div>
</section>
<!-- "angular-loading-bar" : "https://github.com/chieffancypants/angular-loading-bar.git" -->
