<section class="brand-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="slider">
          <img src="img/love.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="goops">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="row">
            <div class="inner-goops">
              <div class="col-md-6">
                <div class="goops-text">
                  <img src="img/goops-text.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="img-hold">
                      <img class="goops-img" src="img/post1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10">
                    <div class="goops-detail brand-gray-darker-bg brand-white">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit lorem
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="img-hold">
                      <img class="goops-img" src="img/post2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10">
                    <div class="goops-detail brand-gray-darker-bg brand-white">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit lorem
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="img-hold">
                      <img class="goops-img" src="img/post3.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10">
                    <div class="goops-detail brand-gray-darker-bg brand-white">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit lorem
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="queries gray-lighter-bg">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="inner-queries">
            <div class="row">
              <div class="col-md-4">
                <h1 class="border-blue">CONFESSIONS</h1>
                <div class="slider">
                  <div class="elements">
                    <h2 class="brand-blue">#51</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                  <div class="elements">
                    <h2 class="brand-blue">#52</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                  <div class="elements">
                    <h2 class="brand-blue">#59</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                </div>
                <div class="more-button">
                  <button type="button" class="btn btn-blue">View More</button>
                </div>
              </div>
              <div class="col-md-4">
                <h1 class="border-green">ASK THE SEXPERT</h1>
                <div class="slider">
                  <div class="elements">
                    <h2 class="brand-green">#53</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                  <div class="elements">
                    <h2 class="brand-green">#54</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                </div>
                <div class="more-button">
                  <button type="button" class="btn btn-green">View More</button>
                </div>
              </div>
              <div class="col-md-4">
                <h1 class="border-red">LOVE QUERIES</h1>
                <div class="slider">
                  <div class="elements">
                    <h2 class="brand-red">#55</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                  <div class="elements">
                    <h2 class="brand-red">#56</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="extra">
                      <button class="pull-right btn-null">READ MORE</button>
                      by Anonymous | 1 day ago</div>
                  </div>
                </div>
                <div class="more-button">
                  <button type="button" class="btn btn-red">View More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-section">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="mobile-image">
                <img src="img/mobile-phone.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="mobile-text">
                <h2 class="brand-white">Download The LLL App</h2>
                <ul class="list-inline">
                  <li>
                    <div class="store-image">
                      <img src="img/play-store.png" alt="" />
                    </div>
                  </li>
                  <li>
                    <div class="store-image">
                      <img src="img/apple-store.png" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
