<section class="brand-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="love-detail-main brand-white-bg">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-9 col-sm-9">
                                    <p class="brand-gray-lighter-2 blog-time">
                                        March 13, 2015 by LLL
                                    </p>
                                    <h1 class="brand-green oneline">LOVE FOR TWO, PLEASE!</h1>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="shares brand-gray-lighter-2 text-center">
                                        <h2>250</h2>
                                        <p>SHARES</p>
                                    </div>
                                </div>
                            </div>

                            <div class="share-links">
                                <ul class="list-inline">
                                    <li>
                                        <span>Share : </span>
                                    </li>
                                    <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twi"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="pin"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" class="env"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>

                            <div class="love-blog-image">
                                <img src="img/love-pic.jpg" alt="" />
                            </div>

                            <div class="love-blog-detail">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>

                            <div class="other-links">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="share-links-2">
                                            <ul class="list-inline">
                                                <li>
                                                    <span>Share : </span>
                                                </li>
                                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="twi"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#" class="pin"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#" class="env"><i class="fa fa-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="clearfix">
                                            <div class="pull-right">
                                                <a href="#/lovedetail/{{article.prev}}" ng-if="article.prev" class="btn color-me btn-pink" type="button">
                                                    <i class="fa fa-chevron-left i-left"></i>Previous Story</a>
                                                <a href="#/lovedetail/{{article.next}}" ng-if="article.next" class="btn color-me btn-pink" type="button">Next Story
                            <i class="fa fa-chevron-right i-right"></i>
                          </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="most-viewed-2 bdgreen">
                                <h1 class="gray-dark">RECOMMENDED</h1>
                                <ul>
                                    <li>
                                        <figure>
                                            <div class="img-holder">
                                                <img src="img/post1.jpg" alt="" />
                                            </div>
                                            <figcaption class="brand-black">Butterfly Junkie</figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
