<div class="pageup">
    <div class="container text-center ">
        <div class="row rowpad">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pad40 menu-links margicon text-right" ui-sref="home" href="#/home">
                    <ul class="list-inline inlineblock">
                        <li>
                            <a href="">
                                <div class="menu-icons">
                                    <img alt="" src="img/menu/love.png" class="imgsize2 marginl img-responsive">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="menu-icons">
                                    <img alt="" src="img/menu/lie.png" class="imgsize3 marginl img-responsive">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="menu-icons">
                                    <img alt="" src="img/menu/lust.png" class="imgsize4 marginl img-responsive">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6 text-left">
                <ul class="list-group inlineblock colorwhite text-left margleft">
                    <li>
                        <h1 class="font80">Love</h1>
                    </li>
                    <li>
                        <h1 class="font80">Lie</h1>
                    </li>
                    <li>
                        <h1 class="font80">Lust</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container text-center containermarg">
    <div class="text-left marg14">
        <h1 class="conf">Please Confirm Subscription</h1>
        <button class="btn"><a href="#">Yes, subscribe me to this list.</a></button>
        <p class="intro2">If you received this email by mistake, simply deleted it. You won't be subscribed if you don't click the confirmation link above.</p>
        <p class="intro2">For questions about this list, please contact::<br>info@lovelielust.com</p>
    </div>
</div>
