<section class="brand-gray-bg">
  <div class="love-header">
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">

        <div class="love-main brand-white-bg">
          <div class="row">
            <div class="col-md-8">

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post3.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post3.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post3.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="post-elements">
                <div class="row">
                  <div class="col-md-4">
                    <div class="post-image">
                      <img src="img/post1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="post-details brand-gray-lighter">
                      <h3 class="brand-black">Love for Two, Please!</h3>
                      <p>March 13, 2015 by Anonymous</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. hjawdjkacdfgajkdfgwjgcdfjkkjqwdgv</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="most-viewed">
                <h1 class="gray-dark">MOST VIEWED</h1>
                <ul>
                  <li>
                    <div class="mv-elements">
                      <img src="img/post1.jpg" alt="" />
                      <p class="brand-black">Butterfly Junkie</p>
                    </div>
                  </li>
                  <li>
                    <div class="mv-elements">
                      <img src="img/post2.jpg" alt="" />
                      <p class="brand-black">Butterfly Junkie</p>
                    </div>
                  </li>
                  <li>
                    <div class="mv-elements">
                      <img src="img/post3.jpg" alt="" />
                      <p class="brand-black">Butterfly Junkie</p>
                    </div>
                  </li>
                  <li>
                    <div class="mv-elements">
                      <img src="img/post3.jpg" alt="" />
                      <p class="brand-black">Butterfly Junkie</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
