<section class="brand-gray-bg">
    <div class="love-header">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="love-main brand-white-bg">
                    <div class="row">
                        <div class="col-md-8">

                            <div class="post-elements" ng-repeat="love in loveblog">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="post-image">
                                            <a href="#/lovedetail"> <img ng-src="{{love.img}}" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <a href="#/lovedetail">
                                            <div class="post-details brand-gray-lighter">
                                                <h3 class="brand-black">{{love.title}}</h3>
                                                <p>{{love.date}}</p>
                                                <p>{{love.descp}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="most-viewed">
                                <h1 class="gray-dark">MOST VIEWED</h1>
                                <ul>
                                    <li ng-repeat="most in viewed">
                                        <a href="#/lovedetail">
                                            <figure>
                                               <img src="{{most.img}}" alt="" class="img-reponsive">
                                                <figcaption class="brand-black">{{most.caption}}</figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
