<section class="brand-gray-bg ">
    <div class="back-img queries">
        <div class="text-inside">
            <h2>love Queries</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="content-main min500">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-content" ng-repeat="blog in confessionblog">
                                <p class="brand-gray">{{blog.content}}</p>
                                <p class="ls">By Anonymous | 1 Day ago</p>
                                <div class="share-links">
                                    <ul class="list-inline">
                                        <li>
                                            <span>Share : </span>
                                        </li>
                                        <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twi"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" class="pin"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#" class="env"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content-right">
                                <div class="secret brand-gray">
                                    <h5><span>ask the</span> love guru</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                    <div class="text-center">
                                        <button type="button" class="btn query-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
