<footer class="brand-gray-bg brand-white {{footercolor}}">
    <div class="container">
        <div class="footer-menus hidden-xs">
            <ul class="list-inline font-size-large">
                <li><a href="#/love">Love</a></li>
                <li><a href="#/lie">Lie</a></li>
                <li><a href="#/lust">Lust</a></li>
                <li><a href="#/confessions">Confessions</a></li>
                <li><a href="#/sexpert">Ask The Sexpert</a></li>
                <li><a href="#/queries">Love Queries</a></li>
                <li><a href="#/goops">Goops</a></li>
            </ul>
        </div>
        <div class="footer-links hidden-xs" ng-controller="footerCtrl">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form action="" class="form-horizontal subscribe">
                        <div class="form-group" ng-if="!form.done">
                            <label for="subscribe" class="col-md-2 col-sm-2">Subscribe</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="email" ng-model="form.email" ng-change="checkdisble(form.email)" id="subscribe" class="form-control">
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <buttton ng-click="sendEmail(form.email)" type="button" class="btn brand-gray-lighter-bg sub">Submit</buttton>
                            </div>
                        </div>
                        <div class="form-group" ng-if="form.done">
                            <label for="subscribe">{{form.complete}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mobile-foot hidden-sm">
          <ul class="list-inline">
            <!--<li><a href="" ui-sref="aboutus">About Us</a></li>
            <li><a href="" >Enquiry</a></li>-->
            <li><a href="" >Disclaimer</a></li>
            <li><a href="" >Contact us</a></li>
          </ul>
        </div>
        <div class="social-links">
            <ul class="list-inline">
                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                <!--<li><a href="#" class="twi"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="insta"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="pin"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#" class="you"><i class="fa fa-youtube"></i></a></li>-->
            </ul>
        </div>
        <div class="footer-text">
            <ul class="list-inline">
                <li>
                    <p class="copy">Copyright LoveLieLust {{template.year}}.</p>
                </li>
                <li>
                    <p>Designed by <a href="http://www.ting.in" target="_blank" class="ting">Ting</a>.</p>
                </li>
            </ul>
</footer>
