<footer>
  <div class="footer-menus">
    <ul class="list-inline">
      <li><a href="#">Love</a></li>
      <li><a href="#">Lie</a></li>
      <li><a href="#">Lust</a></li>
      <li><a href="#">Confession</a></li>
      <li><a href="#">Ask The Sexpert</a></li>
      <li><a href="#">Love Queries</a></li>
      <li><a href="#">Goops</a></li>
    </ul>
  </div>
  <div class="footer-links">
    <ul class="list-inline">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Enquiry</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="social-links">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered. Love Lie Lust.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
