<footer class="brand-gray-bg brand-white">
  <div class="container">
    <div class="footer-menus">
      <ul class="list-inline font-size-large">
        <li><a href="#">Love</a></li>
        <li><a href="#">Lie</a></li>
        <li><a href="#">Lust</a></li>
        <li><a href="#">Confession</a></li>
        <li><a href="#">Ask The Sexpert</a></li>
        <li><a href="#">Love Queries</a></li>
        <li><a href="#">Goops</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <p class="link-line brand-gray-lighter-bg"></p>
      <ul class="list-inline">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Enquiry</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <p class="link-line brand-gray-lighter-bg"></p>
    </div>
    <div class="social-links">
      <ul class="list-inline">
        <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twi"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="insta"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="pin"><i class="fa fa-pinterest-p"></i></a></li>
        <li><a href="#" class="you"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer-text">
      <ul class="list-inline">
        <li>
          <p class="copy">Copyright LoveLieLust {{template.year}}.</p>
        </li>
        <li>
          <p>Designed by <a href="#" target="_blank">Ting</a>.</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
