<header ng-controller="headerctrl">
    <div class="container">
        <div class="">
            <div class="">
                <div class="slide-menu">
                    <!--
          <div>
            <i class="fa fa-bars brand-white"></i>
          </div>
-->
                    <div class="hamburger" ng-click="getnav();">
                        <span id="icon1" class="icon-bar"></span>
                        <span id="icon2" class="icon-bar"></span>
                        <span id="icon3" class="icon-bar"></span>
                    </div>
                    <nav class=" menu {{shownav}}">
                        <ul>
                            <li><a href="#">Love</a></li>
                            <li><a href="#">Lie</a></li>
                            <li><a href="#">Lust</a></li>
                            <li><a href="#">Confessions</a></li>
                            <li><a href="#">Ask The Sexpert</a></li>
                            <li><a href="#">Love Queries</a></li>
                            <li><a href="#">Goops</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="menu-links">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <div class="menu-icons">
                                    <img src="img/menu/love.png" alt="" />
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="menu-icons">
                                    <img src="img/menu/lie.png" alt="" />
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="menu-icons">
                                    <img src="img/menu/lust.png" alt="" />
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
