<header ng-controller="headerctrl">
  <div class="container">
    <div class="">
      <div class="">
        <div class="slide-menu">
          <div class="hamburger" ng-click="getnav();">
            <span class="icon-bar" id="icon1"></span>
            <span class="icon-bar" id="icon2"></span>
            <span class="icon-bar" id="icon3"></span>
          </div>
          <nav class=" menu {{shownav}}">
            <ul>
              <li>
                <a href="#/love">Love</a>
              </li>
              <li>
                <a href="#/lie">Lie</a>
              </li>
              <li>
                <a href="#/lust">Lust</a>
              </li>
              <li>
                <a href="#/confessions">Confessions</a>
              </li>
              <li>
                <a href="#/sexpert">Ask The Sexpert</a>
              </li>
              <li>
                <a href="#/queries">Love Queries</a>
              </li>
              <li>
                <a href="#/goops">Goops</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="menu-links" ui-sref="home">
          <ul class="list-inline">
            <li>
              <a href="">
                <div class="menu-icons">
                  <img alt="" src="img/menu/love.png" />
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="menu-icons">
                  <img alt="" src="img/menu/lie.png" />
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="menu-icons">
                  <img alt="" src="img/menu/lust.png" />
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div class="mobile-menu hidden-sm hidden-md hidden-lg">
    <ul class="">
      <li><a href="" ui-sref="love">Love</a></li>
      <li><a href="" ui-sref="lie">Lie</a></li>
      <li><a href="" ui-sref="lust">Lust</a></li>
      <li><a href="" ui-sref="confessions">Confessions</a></li>
    </ul>
  </div>
  </div>
</header>
