<div ng-include="template.headermenu" class="template headermenu"></div>
<div ng-include="template.header" class="template header"></div>
<!-- <div ng-include="template.slider" class="template slider"></div> -->
<!-- <div ng-include="template.content" class="template content"></div> -->
<div ng-include="template.home" class="template home"></div>
<div ng-include="template.love" class="template love"></div>
<div ng-include="template.lie" class="template lie"></div>
<div ng-include="template.lust" class="template lust"></div>
<div ng-include="template.footermenu" class="template footermenu"></div>
<div ng-include="template.footer" class="template footer"></div>
